pkgbase = wordhunter-bin
	pkgdesc = Local-first reader and vocabulary trainer (binary AppImage release)
	pkgver = 1.1.2
	pkgrel = 1
	url = https://ironship.github.io/WordHunter-site/
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = fontconfig
	depends = fribidi
	depends = glibc
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = mesa
	depends = xdg-utils
	provides = wordhunter=1.1.2
	conflicts = wordhunter
	noextract = WordHunter-1.1.2-x86_64.AppImage
	options = !strip
	source_x86_64 = WordHunter-1.1.2-x86_64.AppImage::https://github.com/Ironship/WordHunter/releases/download/WordHunter1.1.2/WordHunter-1.1.2-x86_64.AppImage
	sha256sums_x86_64 = 1db89b59c834e13247c03364ecc9db78db7758f7a4471844e4d05a7757228ea4

pkgname = wordhunter-bin
