pkgbase = wordhunter-bin
	pkgdesc = Local-first reader and vocabulary trainer (binary AppImage release)
	pkgver = 1.0.10
	pkgrel = 1
	url = https://ironship.github.io/WordHunter-site/
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = fontconfig
	depends = fribidi
	depends = glibc
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = mesa
	depends = xdg-utils
	provides = wordhunter=1.0.10
	conflicts = wordhunter
	noextract = WordHunter-1.0.10-x86_64.AppImage
	options = !strip
	source_x86_64 = WordHunter-1.0.10-x86_64.AppImage::https://github.com/Ironship/WordHunter/releases/download/WordHunter1.0.10/WordHunter-1.0.10-x86_64.AppImage
	sha256sums_x86_64 = 6b4a71313d7d30de16740a1c20718e40ac5cc9485652dedb72687196a2c0bfb8

pkgname = wordhunter-bin
